<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46871334704-9gpsarhoc8h7ohur122hrvmk43dbuefg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46871334704-9gpsarhoc8h7ohur122hrvmk43dbuefg</string>
	<key>API_KEY</key>
	<string>AIzaSyDLXmO_90go1jGqcIWn5h-AgXgkcDv0nYE</string>
	<key>GCM_SENDER_ID</key>
	<string>46871334704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dannydauck.Caterpie</string>
	<key>PROJECT_ID</key>
	<string>caterpie-a0683</string>
	<key>STORAGE_BUCKET</key>
	<string>caterpie-a0683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46871334704:ios:f7e00ec971d30a8cc682f5</string>
</dict>
</plist>